.marginDIV {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    width: 98%;
}

.round {
    display: flex;
    border-radius: 130px;
}

.rights {
    width: 600px;
    height: 400px;
    padding-left: 30px;
}

.roar {
    width: 500px;
    height: 500px;
}

.limit {
    width: 400px;
    height: 400px;
}