.marginDIV {
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 30px;
}

.right {
    float: right;
    padding-right: 30px;
    padding-left: 30px;
    width: 720px;
    height: 400px;
}

.align-center {
    display: flex;
    margin: 0 auto;
    width: 740px;
    height: 400px;
}

.align-center2 {
    display: flex;
    margin: 0 auto;
    width: 740px;
    height: 529px;
}