.marginDIV {
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 80px;
}

.photoDIV {
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 100px;
}

.right {
    float: right;
    padding-right: 30px;
    padding-left: 30px;
    width: 600px;
    height: 400px;
}

.align-center {
        display: flex;
        margin: 0 auto;
}